@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>About Me</h2>
                <h5>Photo of Red Panda:</h5>
                <img src="~/Images/redpanda.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                <h3>Some Links to other sites</h3>
                <p>Lorem ipsum dolor sit ame.</p>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
                
            </div>
            <div class="col-sm-8">
                <h2>Tiger</h2>
                <h5>Some interesting info ...</h5>
                <img src="~/Images/tiger.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <br>
                <h2>Lion</h2>
                <h5>Some interesting info ...</h5>
                <img src="~/Images/lion1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                <p>Some more text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>

