body {
    font: 20px Montserrat, sans-serif;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.bg-1 {
    background-color: #00ff90; /* Green */
    color: #0fdc39;
}

.bg-2 {
    background-color: #7b7b7b; /* Dark Blue */
    color: #0fdc39;
}

.bg-3 {
    background-color: #f5f6f7; /* White */
    color: #000000;
}

.bg-4 {
    background-color: #7b7b7b; /* Black Gray */
    color: #000000;
}

.navbar {
    
    font-size: 12px;
    
}
